[all:vars]
user=username
keyfile=files/key.pub

[localhost]
localhost

[localhost:vars]
ansible_connection=local

[first]
host1.example.org ansible_ssh_host=192.168.1.1

[first:vars]
ansible_connection=ssh

[second]
host2.example.org ansible_ssh_host=192.168.1.2

[second:vars]
ansible_connection=ssh

[servers:children]
first
second

[noreboot]
host3.example.org ansible_ssh_host=192.168.1.3
host4.example.org ansible_ssh_host=192.168.1.4

[noreboot:vars]
ansible_connection=ssh
